@media only screen and (max-width: 415px) {
  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #546A7B;
  }
  main {
    height: 100%;
    width: 100%;
  }
  #search-area {
    width: 100%;
  }
  header {
    position: fixed;
    top: 0;
    width: 100%;
  }
  #food {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  .submit-btn {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 1rem;
  }
  form {
    width: 100%;
  }
  button {
    color: white;
  }
  .input-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .input-field {
    width: 90%;
    border-radius: .4rem;
    border-color: #ee6e73;
  }
  #foodItems {
    display: flex;
    justify-content: flex-start;
    flex-flow: wrap;
    margin-top: 5rem;
    margin-left: 1rem;
  }
  .food-container {
    width: 32%;
    padding: 1.5rem;
    margin: .2rem;
    border: .5px solid black;
    background-color: white;
  }
  .linkLogo {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    color: red;
  }
  .logo {
    width: 50%;
    align-self: flex-end;
  }
  .link {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
  }
  .price-locale {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
  }
  .nav-wrapper {
    background-color: #ee6e73;
    border-bottom: 1px solid #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
  }
  .navbar li {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 50%;
  }
  .fryingPan {
    height: 1.5rem;
  }
  ul.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100% !important:
  }
  .nav li{
    margin-right:1rem;
    margin-left: 1rem;
    list-style: none;
  }
}
